

<div class="head">
    <div class="logo">
        <div routerLink="/home" class="logo-child">
            <div class="logo2-child">
                <h2>myauto</h2>
            </div>
            <div class="logo3-child">
                <h2>.ge</h2>
            </div>
        </div>
    </div>


    <nav>
        <ul>
            <li (click)="scrol()" ><a><i class="fa-solid fa-phone"></i>კონტაქტები</a></li>
            <li *ngIf="!aut" routerLink="/register" ><a><i class="fa-solid fa-user"></i>რეგისტრაცია</a></li>
            <li *ngIf="aut" ><a (click)="logout()" href=""><i class="fa-solid fa-door-open"></i>გასვლა</a></li>
        </ul>
    </nav>
</div>