
@font-face {
    font-family: 'manfont';
    src: url(../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}



.head{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'manfont';
    background-color: black;


    .logo{
        width: 50%;
        height: 80px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        gap: 30px;
        .logo-child{
            width: 132px;
            height: 42px;
            border-radius: 20px;
            background-color: rgb(82, 82, 82);;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .logo2-child{
                width: 85px;
                height: 32px;
                border-radius: 20px;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;

                p{
                    font-size: 19px;
                }
            }


            .logo3-child{
                color: white;
            }
            
        }
    }

    nav{
        width: 50%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 10px;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            flex-wrap: wrap;

            li{
                width: 140px;
                height: 40px;
                background-color: rgb(96, 96, 96);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: none;
                
                
                a{
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 7px;
                }
            }

            li:hover{
                border: 1px solid black;
                background-color: rgba(215, 215, 215, 0.59);
                margin-bottom: 5px;
                transition: 400ms;
            }
        }
    }

}

            @media screen and (max-width: 624px) {
        .head{
            height: 119px;
        }
    }