

<div class="head">
    <div class="logo">
        <div class="logo-child">
            <div class="logo2-child">
                <h2>myauto</h2>
            </div>
            <div class="logo3-child">
                <h2>.ge</h2>
            </div>
        </div>

        <input class="inp" type="text" placeholder="ID, ტელეფონი, საძიებო სიტყვა...">
    </div>


    <nav>
        <ul>
            <li><a routerLink="/home" >მთავარი</a></li>
            <li><a>კონტაქტები</a></li>
            <li><a>რეგისტრაცია</a></li>
        </ul>
    </nav>
</div>