
.foot{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: black;
    flex-wrap: wrap;
    padding: 10px 0px 10px 0px;

    .foot-box1{
        width: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        color: gray;

        h3{
            padding-bottom: 20px;
        }

        p{
            cursor: pointer;

        }

        p:hover{
            text-decoration: underline;
            color: white;
        }
    }

    .foot-box2{
        width: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        color: gray;
        h3{
            padding-bottom: 20px;
        }

        p{
            cursor: pointer;

        }

        p:hover{
            text-decoration: underline;
            color: white;
        }
    }




}