
<div class="foot">
    <div class="foot-box1">
        <h3>ნავიგაცია</h3>
        <p>ჩემი გვერდი</p>
        <p>ავტოსერვისი</p>
        <p>დაშლილი ავტომობილები</p>
        <p>ვიდეო ჯარიმები</p>
        <p>თბილისის პარკინგი</p>
        <p>მართვის მოწმობა</p>
        <p>ელექტროსატენების რუკა</p>
        <p>გაფორმების კალკულატორი</p>
        <p>ინსპექტირების კალკულატორი</p>
        <p>რეკლამა</p>
    </div>

    <div class="foot-box2">
        <h3>დახმარება</h3>
        <p>myinfo.ge</p>
        <p>ხშირად დასმული კითხვები</p>
        <p>მესიჯის მიწერა</p>
        <p>ზარის მოთხოვნა</p>
        <p>51241245111</p>
        <p>ანონიმური უკუკავშირი</p>
    </div>

</div>