@font-face {
    font-family: 'manfont';
    src: url(../../../../public/fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}


.ccard{
    width: 100%;
    height: 700px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'manfont';
    .foto{
        width: 400px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            height: 100%;
            width: 100%;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
        }
    }

    .detals{
        width: 400px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border-right: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        .detchild{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        
    }
}