
<div class="register">

    <form action="">
     <div class="register-parent">
         <h1>შესვლა</h1>
         <input name="first" [(ngModel)]="firstName" type="text" placeholder="სახელი" required>
         <input name="last" [(ngModel)]="lastName" type="text" placeholder="გვარი" required>
         <input name="ema" [(ngModel)]="email" type="email" placeholder="ელფოსტის მისამართი" required>
         <input name="numb" [(ngModel)]="phoneNumber" type="number" placeholder="ტელეფონის ნომერი" required>
         <input name="pass" [(ngModel)]="password" type="password" placeholder="პაროლი" required>
         <button type="submit" (click)="logIn()" class="btn" ><h3>შესვლა</h3></button>
         <div class="p-parent">
            <p class="ss" >არ ხართ რეგისტრირებული?</p><p routerLink="/register" class="S" >რეგისტრაცია</p>
         </div>

         <div class="forline">
            <div class="line"></div>
            <span>ან</span>
            <div class="line"></div>
         </div>
         
            <div class="social">
                <div class="socials"><img src="https://yt3.googleusercontent.com/K8WVrQAQHTTwsHEtisMYcNai7p7XIlyEAdZg86qYw78ye57r5DRemHQ9Te4PcD_v98HB-ZvQjQ=s900-c-k-c0x00ffffff-no-rj" alt=""></div>
                <div class="socials"><img src="https://yt3.googleusercontent.com/RhsrKM2HugvjGkbHXmo93C-q3qZLJk9hzfeJHmproNh4qb6UA5cC--l0mTZ2QuM-yXF1wYijgw=s900-c-k-c0x00ffffff-no-rj" alt=""></div>
                <div class="socials"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCvh-j7HsTHJ8ZckknAoiZMx9VcFmsFkv72g&s" alt=""></div>
            </div>
     </div>
    </form>

</div>
